<li id="rule-length" class="password-rule">
    <span class="rule-icon" style="color: lightgray;">&#10004;</span>
    {% blocktrans trimmed with password_length=request.press.password_length %}
        Your password should be {{ password_length }} characters long.
    {% endblocktrans %}
    <span id="required-length-val" style="display:none;">{{ request.press.password_length }}</span>
</li>
{% if request.press.password_upper %}
    <li id="rule-upper" class="password-rule">
        <span class="rule-icon" style="color: lightgray;">&#10004;</span>
        {% blocktrans trimmed %}
        Your password should contain at least one upper case letter.
        {% endblocktrans %}
    </li>
{% endif %}
{% if request.press.password_number %}
    <li id="rule-number" class="password-rule">
        <span class="rule-icon" style="color: lightgray;">&#10004;</span>
        {% blocktrans trimmed %}
        Your password should contain at least one number.
        {% endblocktrans %}
    </li>
{% endif %}