<li id="rule-length" class="password-rule">
    <span class="rule-icon" style="color: lightgray;">&#10004;</span>
    {% blocktrans trimmed with password_length=request.press.password_length %}
        Your password should be {{ password_length }} characters long.
    {% endblocktrans %}
    <span id="required-length-val" style="display:none;">{{ request.press.password_length }}</span>
</li>
{% if request.press.password_upper %}
    <li id="rule-upper" class="password-rule">
        <span class="rule-icon" style="color: lightgray;">&#10004;</span>
        {% blocktrans trimmed %}
        Your password should contain at least one upper case letter.
        {% endblocktrans %}
    </li>
{% endif %}
{% if request.press.password_number %}
    <li id="rule-number" class="password-rule">
        <span class="rule-icon" style="color: lightgray;">&#10004;</span>
        {% blocktrans trimmed %}
        Your password should contain at least one number.
        {% endblocktrans %}
    </li>
{% endif %}
    <li id="rule-symbol" class="password-rule">
        <span class="rule-icon" style="color: lightgray;">&#10004;</span>
        {% blocktrans trimmed %}
        Your password should contain at least one symbol.
        {% endblocktrans %}
    </li>
    <li id="rule-match" class="password-rule" style="display: none;">
        <span class="rule-icon" style="color: lightgray;">&#10004;</span>
        {% blocktrans trimmed %}
        Your passwords must match.
        {% endblocktrans %}
    </li>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var passwordInput = document.getElementById("id_password_1") || document.getElementById("id_new_password1");
      if (!passwordInput) {
          // Some forms might just use id_password
          passwordInput = document.getElementById("id_password");
      }
      if (!passwordInput) return;

      var passwordInput2 = document.getElementById("id_password_2") || document.getElementById("id_new_password2");
      
      var ruleLength = document.getElementById("rule-length");
      var ruleUpper = document.getElementById("rule-upper");
      var ruleNumber = document.getElementById("rule-number");
      var ruleSymbol = document.getElementById("rule-symbol");
      var ruleMatch = document.getElementById("rule-match");
      
      if (passwordInput2 && ruleMatch) {
          ruleMatch.style.display = "list-item";
      }

      var form = passwordInput.closest("form");
      var submitBtn = form ? form.querySelector("button[type='submit'], input[type='submit']") : null;
      
      var reqLength = document.getElementById("required-length-val");
      var minLength = reqLength ? parseInt(reqLength.innerText, 10) : 0;
      
      function updateRules() {
          var val = passwordInput.value;
          var val2 = passwordInput2 ? passwordInput2.value : null;
          var allValid = true;
          
          if (ruleLength) {
              var icon = ruleLength.querySelector(".rule-icon");
              if (val.length >= minLength) {
                  icon.style.color = "green";
              } else {
                  icon.style.color = "lightgray";
                  allValid = false;
              }
          }
          
          if (ruleUpper) {
              var icon = ruleUpper.querySelector(".rule-icon");
              if (/[A-Z]/.test(val)) {
                  icon.style.color = "green";
              } else {
                  icon.style.color = "lightgray";
                  allValid = false;
              }
          }
          
          if (ruleNumber) {
              var icon = ruleNumber.querySelector(".rule-icon");
              if (/[0-9]/.test(val)) {
                  icon.style.color = "green";
              } else {
                  icon.style.color = "lightgray";
                  allValid = false;
              }
          }
          
          if (ruleSymbol) {
              var icon = ruleSymbol.querySelector(".rule-icon");
              if (/[^A-Za-z0-9]/.test(val)) {
                  icon.style.color = "green";
              } else {
                  icon.style.color = "lightgray";
                  allValid = false;
              }
          }

          if (passwordInput2 && ruleMatch) {
              var icon = ruleMatch.querySelector(".rule-icon");
              if (val && val === val2) {
                  icon.style.color = "green";
              } else {
                  icon.style.color = "lightgray";
                  allValid = false;
              }
          }

          if (submitBtn) {
              // Always disable if val is empty
              if (!val) {
                  submitBtn.disabled = true;
              } else {
                  submitBtn.disabled = !allValid;
              }
          }
      }
      
      passwordInput.addEventListener("input", updateRules);
      if (passwordInput2) {
          passwordInput2.addEventListener("input", updateRules);
      }
      // trigger once on load
      updateRules();
  });
</script>