{% load static %}
{% load securitytags %}
{% load i18n %}
{% load hooks %}

{% is_editor as editor %}

<div class="off-canvas-content" data-off-canvas-content>

    <header class="main-header" role="banner">
        <div class="row expanded">
            <div class="small-4 columns">
                
                &nbsp;
            </div>
            <div class="small-4 columns text-center">
                <h1><a href="{{ request.site_type.site_url }}">{% if request.repository %}{{ request.repository.name }}{% else %}{{ request.press.name }}{% endif %}</a></h1>
            </div>
            <div class="small-4 columns text-right">
                {% if request.user.is_authenticated %}
                  <div class="profile">
                    <a class="float-right" data-toggle="profile-dropdown">
                        <p class="show-for-medium">Hello, {{ request.user.first_name }}!</p>
                        {% include "elements/avatar.html" with user=request.user tooltip="off" %}
                    </a>
                  </div>
                {% endif %}
                <div class="dropdown-pane bottom" id="profile-dropdown" data-dropdown data-close-on-click="true">
                    <ul class="menu vertical">
                        <li><a href="{% url 'core_edit_profile' %}">Profile</a></li>
                        {% if request.repository %}
                            <li><a href="{% url 'repository_dashboard' %}">Author Dashboard</a></li>
                            <li><a href="{% url 'repository_submit' %}">Submit</a></li>
                        {% endif %}
                        {% if is_editor or request.user.is_staff %}
                            <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
                        {% endif %}
                        {% if request.user.is_staff %}
                            <li><a href="/admin/">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'core_logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
