{% load static %}
{% load securitytags %}
{% load i18n %}
{% load hooks %}

{% is_editor as editor %}
{% is_any_editor as any_editor %}

<div class="off-canvas-content" data-off-canvas-content>

    <header class="main-header" role="banner">
        <div class="row expanded">
            <div class="small-3 columns hide-for-large">
                
                &nbsp;
            </div>
            <div class="small-6 large-10 columns show-for-large">
                <h1><a href="{% url 'website_index' %}">{{ request.journal.name }}</a></h1>
            </div>
            <div class="small-6 columns text-center show-for-medium-only">
                <h1><a href="{% url 'website_index' %}">{{ request.journal.code }}</a></h1>
            </div>
            <div class="small-6 columns text-center show-for-small-only">
                <h1><a href="{% url 'website_index' %}">{{ request.journal.code }}</a></h1>
            </div>
            <div class="small-3 large-2 columns text-right">
                {% if request.user.is_authenticated %}
                <div class="profile">
                    <a class="float-right" data-toggle="profile-dropdown">
                        {% include "elements/avatar.html" with user=request.user tooltip="off" %}
                    </a>
                </div>
                <div class="dropdown-pane bottom" id="profile-dropdown" data-dropdown data-close-on-click="true">
                    <ul class="menu vertical">
                        {% if not journal_settings.general.disable_journal_submission %}
                        <li><a href="{% url 'submission_start' %}">Submit</a></li>
                        {% endif %}
                        <li><a href="{% url 'core_edit_profile' %}">Profile</a></li>
                        {% if request.user.is_staff or editor %}
                        <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
                        {% endif %}
                        {% if request.user.is_staff %}
                        <li><a href="/admin/">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'core_logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
