{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-block">
                <div class="col-md-12">
                    <h2 class="text-center">{% trans "Reset password" %}</h2>
                    <hr>
                    {% include "admin/elements/forms/messages_in_callout.html" with form=form %}
                    <p class="text-center text-muted">
                        {% blocktrans %}
                        Enter your email address and then follow the link sent to you by email.
                        {% endblocktrans %}
                    </p>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email_address">{% trans "Email *" %}</label>
                            <input type="email" name="email_address" id="email_address" class="form-control" required>
                            {{ form.email_address.errors }}
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary btn-block">
                                {% trans "Request link" %}
                            </button>
                        </p>
                    </form>
                    <p class="text-center text-muted small mt-3">
                        * denotes required field
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
